<!DOCTYPE html>
<html>
<head>
  <title>ActiveRecordProfiler</title>
  <%= stylesheet_link_tag    "active_record_profiler/application", media: "all" %>
  <%= javascript_include_tag "active_record_profiler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render 'shared/active_record_profiler/editors' %>

</body>
</html>
